.buttonStyle{
    background-color: transparent !important;
    border: 0 !important;
    outline: 0 !important;
}

.buttonStyle:hover .overlay {
    opacity: 1;
}

.buttonStyle:hover{
    border: 0;
    background: rgba(51, 136, 51, 0.65);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(51, 136, 51, 0.55);
}