input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



.wrapper{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.form{
    width: 250px;
}

.qty{
    width: 125px !important;
}

.img{
    width: 60px;
    height: 60px;
}

.imgBTN{
    border: 0 !important;
    padding: 0 !important;
    color: white !important;
    margin:5px
}


@media only screen and (min-width: 768px) {
    .wrapper{
        width: 700px;
    }

    .form{
        width: 350px;
    }

    .img{
        width: 110px;
        height: 110px;
    }
    
}

@media only screen and (min-width: 950px) {
    .wrapper{
        width: 900px;
    }

    .img{
        width: 150px;
        height: 150px;
    }

    .imgBTN{
        margin:10px
    }
}



