.hideButton {
    display: none !important;
}

.imageCountInput{
    width: 50px !important;
    margin-right: 10px;
}

.numberLeft{
    width: 50px !important;
    margin-right: 10px;
    text-align: center;
    height: 100%;
    margin: auto;
}

.centerP{
    margin-top: 50%;
}

.warnMessageP{
    color: red;
}