.container {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 400px) {
    .container {
        max-width: 500px !important;
    }
}

@media only screen and (min-width: 825px) {
    .container {
        max-width: 1000px !important;
    }
}

.button{
    border: 0;
    background-color: rgba(255, 255, 124, 0);
    padding: 5px;
}

.button:hover{
    border: 0;
    background: rgba(51, 136, 51, 0.65);
}

.button:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(51, 136, 51, 0.55);
}

.text {
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1),  0 0 10px rgba(0, 0, 0, 1);
  }

.h1Styles{
    color: rgb(37, 58, 37);
}

.lg{
    color: black;
}

.lg:hover{
    background-color: rgba(76, 129, 76, 0.555) !important;
    font-weight: bolder;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.lg:active{
    background-color:rgb(60, 94, 60);
    color: white;
    letter-spacing: 1px;
    font-weight: bolder;
}

.lg.selected{
    background-color:rgb(60, 94, 60);
    color: white;
    letter-spacing: 1px;
    font-weight: bolder;
}

.lgContainerWrapper{
    display: none !important;
    width: 100%;
}

.lgContainer{
    display: none !important;
}

@media only screen and (min-width: 850px) {
    .lgContainerWrapper{
        display: flex !important;
    }

    .lgContainer{
        display: flex !important;
    }
    
}

.noLink{
    color: black;
    text-decoration: none !important;
}
